.fled {
  transform: translateX(500px);
  animation: flee 5s !important;
}

@keyframes flee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500px);
  }
}

.victory {
  animation: victory 5s !important;
}

@keyframes victory {
  0% {
    transform: translateY(0);
    scale: 1;
  }
  50% {
    transform: translateY(-20px);
    scale: 1.1;
  }
  100% {
    transform: translateY(0);
    scale: 1;
  }
}
